<a class="header-menu-item logo-button" href="%SITE%"><span class="header-logo"></span><span class="logo-button-text">%SITENAME%</span></a>
<div class="header-menu">
  <a class="header-menu-item" href="%SITE%">Home</a>
  <div class="header-menu-dropdown">
    <a href="#" class="header-menu-item header-menu-dropdown-button">More<span class="dropdown-arrow"></span></a>
    <div class="header-menu-dropdown-content hidden">
      <a href="%SITE%overview.html">Overview</a>
      <a href="%SITE%biotic-factors.html">Biotic Factors</a>
      <a href="%SITE%abiotic-factors.html">Abiotic Factors</a>
      <a href="%SITE%food-web.html">Food Web</a>
      <a href="%SITE%relationships.html">Symbiotic Relationships</a>
      <a href="%SITE%predator-prey.html">Predators and Prey</a>
      <a href="%SITE%limit.html">Carrying Capacity</a>
      <a href="%SITE%human-influence.html">Human Influence</a>
    </div>
  </div>
</div>
